<template>
    <div>
        <h6 class="text-uppercase text-secondary font-weight-bolder">
            Check Availabilty
            <transition>
                <span class="text-danger" v-if="noAvailability">(NOT AVAILABLE)</span>
                <span class="text-success" v-if="hasAvailability">(AVAILABLE)</span>
            </transition>
        </h6>

        <div class="row">
            <div class="col-6">
                <label for="">From</label>
                <input type="text" class="form-control" name="from" placeholder="Start date" v-model="from"
                    @keyup.enter="check" :class="[{'is-invalid': this.errorFor('from')}]">
                <v-errors :errors="errorFor('to')"></v-errors>

            </div>

            <div class="col-6 mb-3">
                <label for="">To</label>
                <input type="text" class="form-control" name="to" placeholder="End date" v-model="to"
                    @keyup.enter="check" :class="[{'is-invalid': this.errorFor('to')}]">
                <v-errors :errors="errorFor('to')"></v-errors>
            </div>
        </div>

        <div class="row mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-secondary btn-block" @click="check" :disabled="loading">
                    <span v-if="loading"><i class="fas fa-spinner fa-spin"></i> Checking...</span>
                    <span v-else>Check!</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        is422
    } from './../shared/utils/response';
    import validationErrors from './../shared/mixins/validationErrors';

    export default {
        // mixins is create data and methods on any file, goals mixins for minimize code
        mixins: [validationErrors],
        props: {
            bookableId: [String, Number]
        },
        data() {
            return {
                from: this.$store.state.lastSearch.from,
                to: this.$store.state.lastSearch.to,
                loading: false,
                status: null,
            }
        },
        methods: {
            async check() {
                this.loading = true;
                this.errors = null;

                this.$store.dispatch('setLastSearch', {
                    from: this.from,
                    to: this.to
                })

                try {
                    this.status = (await axios.get(
                            `/api/bookables/${this.bookableId}/availability?from=${this.from}&to=${this.to}`))
                        .status;
                    // emit is take data and take the data with v-on, implementation on Bookable.vue and this file
                    this.$emit("availability", this.hasAvailability)
                } catch (err) {
                    if (is422(err)) {
                        this.errors = err.response.data.errors
                    }
                    this.status = err.response.status;
                    this.$emit("availability", this.hasAvailability)
                }
                this.loading = false;

                // axios.get( 
                //     `/api/bookables/${this.bookableId}/availability?from=${this.from}&to=${this.to}`
                // ).then(response => {
                //     this.status = response.status;
                // }).catch(error => {
                //     if (is422(error)) {
                //         this.errors = error.response.data.errors
                //     }
                //     this.status = error.response.status;
                // }).then(() => (this.loading = false));
            },
        },

        computed: {
            hasErrors() {
                return 422 === this.status && this.errors !== null;
            },
            hasAvailability() {
                return 200 === this.status;
            },
            noAvailability() {
                return 404 === this.status;
            }
        }
    }

</script>

<style scoped>
    label {
        font-size: 0.7rem;
        text-transform: uppercase;
        color: gray;
        font-weight: bolder;
    }

    .is-invalid {
        border-color: #b22222;
        background-image: none;
    }

    .invalid-feedback {
        color: #b22222;
    }

</style>
