<template>
    <div class="row">
        <div class="col-md-8 pb-4">
            <div v-if="!loading">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ bookable.title }}</h2>
                        <hr>
                        <article>{{ bookable.description }}</article>
                    </div>
                </div>
                <review-list :bookable-id="this.$route.params.id"></review-list>
            </div>
            <div v-else class="spinner-border" role="status"></div>
        </div>
        <div class="col-md-4 pb-4">
            <!-- get data emit availability from Availability.vue with running method checkprice -->
            <availability :bookable-id="this.$route.params.id" @availability="checkPrice($event)" class="mb-4">
            </availability>

            <transition name="fade">
                <div class="row" v-if="price">
                    <price-breakdown :price="price" class="mb-4"></price-breakdown>
                    <div class="d-grid gap-2 mt-1">
                        <button class="btn btn-outline-secondary btn-block" @click="addToBasket"
                            :disabled="inBasketAlready">Book Now</button>
                    </div>
                </div>
            </transition>
            
            <div class="d-grid gap-2" v-if="inBasketAlready">
            <button class="btn btn-outline-secondary btn-block mt-1" @click="removeFromBasket">Remove from basket</button>
            </div>

            <div class="mt-4 text-muted warning" v-if="inBasketAlready">Seems like you've added ths object to basket, If
                you want to changes dates, remove from the basket first.</div>
        </div>
    </div>
</template>
<script>
    import {
        mapState
    } from 'vuex';
    import Availability from './Availability';
    import ReviewList from './ReviewList';
    import PriceBreakdown from './PriceBreakdown';
    export default {
        components: {
            Availability,
            ReviewList,
            PriceBreakdown
        },
        data() {
            return {
                bookable: null,
                loading: false,
                price: null
            };
        },
        created() {
            this.loading = true;
            axios
                .get(`/api/bookables/${this.$route.params.id}`)
                .then(response => {
                    this.bookable = response.data.data;
                    this.loading = false
                });
        },
        // Implementation Map State is loaded from local storage browser and get data local storage with name in string, example get data from localStorage lastSearch and render on computed
        computed: {
            ...mapState({
            lastSearch: "lastSearch",
            // inBasketAlready(state) {
            //     if (null === this.bookable) {
            //         return false;
            //     }

            //     return state.basket.items.reduce((result, item) => result || item.bookable.id === this.bookable
            //         .id, false);
            // }
        }),
        inBasketAlready(){
            if (null === this.bookable) {
                    return false;
                }
            return this.$store.getters.inBasketAlready(this.bookable.id);
        }
        },
        methods: {
            async checkPrice(hasAvailability) {
                if (!hasAvailability) {
                    this.price = null;
                    return;
                }

                try {
                    this.price = (await axios.get(
                        `/api/bookables/${this.bookable.id}/price?from=${this.lastSearch.from}&to=${this.lastSearch.to}`
                    )).data.data;
                } catch (err) {
                    this.price = null;
                }
            },
            addToBasket() {
                // dispatch in vuex running action, if commit in vuex running mutations
                this.$store.dispatch("addToBasket", {
                    bookable: this.bookable,
                    price: this.price,
                    dates: this.lastSearch
                })
            },
            removeFromBasket(){
                this.$store.dispatch("removeFromBasket", this.bookable.id);
            }
        }
    }

</script>


<style scoped>
    .warning {
        font-size: 0.7rem;
    }

</style>
