<template>
    <div>
        <nav class="navbar navbar-expand-lg bg-white border-bottom navbar-light">
            <div class="container-fluid">
                <router-link class="navbar-brand" :to="{name:'home'}">Laravel</router-link>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <router-link class="nav-link" :to="{name: 'basket'}">
                                    Basket
                                    <span v-if="itemsInBasket" class="badge bg-secondary">{{itemsInBasket}}</span>
                                </router-link>
                            </li>

                            <li class="nav-item" v-if="!isLoggedIn">
                                <router-link :to="{name: 'register'}" class="nav-link">Register</router-link>
                            </li>

                            <li class="nav-item" v-if="!isLoggedIn">
                                <router-link :to="{name: 'login'}" class="nav-link">Sign-in</router-link>
                            </li>

                            <li class="nav-item" v-if="isLoggedIn">
                                <a href="#" class="nav-link" @click.prevent="logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-4 mb-4 pr-4 pl-4">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import {
        mapState,
        mapGetters
    } from 'vuex';
    export default {
        data() {
            return {
                lastSearch: this.$store.state.lastSearch
            }
        },
        // Implementation Map State is loaded from local storage browser and get data local storage with name in string, example get data from localStorage lastSearch and render on lastSearchComputed
        computed: {
            ...mapState({
                lastSearchComputed: "lastSearch",
                isLoggedIn: "isLoggedIn"
            }),
            ...mapGetters({
                itemsInBasket: "itemsInBasket"
            }),
            somethingElse() {
                return 1 + 2;
            }
        },
        methods: {
            async logout() {
                try {
                    axios.post("/logout");
                    this.$store.dispatch("logout");
                } catch (error) {
                    this.$store.dispatch("logout");
                }
            }
        }
    }

</script>
