<template>
    <div class="card w-100">
        <div class="card-body">
            <router-link :to="{name:'bookable', params:{id}}">
                <div class="card-title">{{ title }}</div>
            </router-link>
            <div class="card-text">{{ description }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: { title: String, description: String, id:Number},
}
</script>