<template>
    <div class="w-50 m-auto">
        <div class="card card-body">
            <form>
                <div class="mb-3">
                    <label for="">E-mail</label>
                    <input type="text" class="form-control" placeholder="Enter your e-mail" v-model="email" :class="[{'is-invalid': errorFor('email')}]">
                    <v-errors :errors="errorFor('email')"></v-errors>
                </div>

                <div class="mb-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password" v-model="password" :class="[{'is-invalid': errorFor('password')}]">
                    <v-errors :errors="errorFor('password')"></v-errors>
                </div>
                <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" :disabled="loading" @click.prevent="login">Log-in</button>
                </div>
                <hr>

                <div>No account yet?
                    <router-link :to="{name: 'register'}" class="font-weight-bold">Register</router-link>
                </div>

                <div>Forgotten password?
                    <router-link :to="{name: 'home'}" class="font-weight-bold">Reset password</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import validationErrors from '../shared/mixins/validationErrors'
import { logIn } from '../shared/utils/auth';
export default {
    mixins: [validationErrors],
    data(){
        return{
            email: null,
            password: null,
            loading: false,
        }
    },
    methods: {
        async login(){
            this.loading = true;
            this.errors = null;

            try {
                await axios.get('/sanctum/csrf-cookie');
                await axios.post("/login", {
                    email: this.email,
                    password: this.password
                });

                logIn();
                this.$store.dispatch("loadUser");
                this.$router.push({name:"home"});
            } catch (error) {
                this.errors = error.response && error.response.data.errors;
            }
            
            this.loading = false;
        }
    }
}
</script>