<template>
    <div class="w-50 m-auto">
        <div class="card card-body">
            <form>
                <div class="mb-3">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter your name" v-model="user.name"
                        :class="[{'is-invalid': errorFor('name')}]">
                    <v-errors :errors="errorFor('name')"></v-errors>
                </div>

                <div class="mb-3">
                    <label for="">E-mail</label>
                    <input type="text" name="email" class="form-control" placeholder="Enter your e-mail" v-model="user.email"
                        :class="[{'is-invalid': errorFor('email')}]">
                    <v-errors :errors="errorFor('email')"></v-errors>
                </div>

                <div class="mb-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password" v-model="user.password"
                        :class="[{'is-invalid': errorFor('password')}]">
                    <v-errors :errors="errorFor('password')"></v-errors>
                </div>

                <div class="mb-3">
                    <label for="">Re-type Password</label>
                    <input type="password" name="password_confirmation" class="form-control" placeholder="Confirm your password"
                        v-model="user.password_confirmation" :class="[{'is-invalid': errorFor('password_confirmation')}]">
                    <v-errors :errors="errorFor('password_confirmation')"></v-errors>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg" :disabled="loading" @click.prevent="register">Register</button>
                </div>
                <hr>

                <div>
                    Already have an account?
                    <router-link :to="{name: 'login'}" class="font-weight-bold">Log-in</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import validationErrors from '../shared/mixins/validationErrors'
    import {
        logIn
    } from '../shared/utils/auth';
    export default {
        mixins: [validationErrors],
        data() {
            return {
                user: {
                    name: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                },

                loading: false,
            }
        },
        methods: {
            async register() {
                this.loading = true;
                this.errors = null;

                try {
                    const response = await axios.post("/register", this.user);

                    if (201 == response.status) {
                        logIn();
                        this.$store.dispatch("loadUser");
                        this.$router.push({name: "home"});
                    }

                    logIn();
                    this.$store.dispatch("loadUser");
                    this.$router.push({
                        name: "home"
                    });
                } catch (error) {
                    this.errors = error.response && error.response.data.errors;
                }

                this.loading = false;
            }
        }
    }

</script>
